.Error {
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    z-index: 100;
}

.Header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.User-card {
    position: absolute;
    top: 50px;
    left: 20px;
}

.Card-Slot-Machine {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.FruitImage {
    width: 200px;
    height: 200px;
    margin-right: 50px;
}