.main {
    text-align: center;
}


.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}


.game-image {
    max-width: 200px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}
